@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, html {
     font-family: 'Roboto', sans-serif;
     height: 60%;
     margin: 0px;
}

.icon {
     width: 60px;
     height: auto;
}

.parallax {
  background-image: url('Background.png');

  height: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

table , th, td {
	border: none;
}

td {
	  text-align: center;
}

.thing {
	padding: 10px;
}

a:link {
  color: dodgerblue;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: purple;
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

.centered {
     text-align: center;
     align-items: center;
}

.panel {
     width: 50%;
     text-align: left;
     border: 1px solid #d1d1d1;
     border-radius: 5px;
     background-color: white;
}

.panel2 {
	text-align: left;
	border: 1px solid #d1d1d1;
	border-radius: 5px;
	background-color: white;
}

.post {
     margin: 20px;
}

.avatar {
     position: relative;
     top: -50px;
     width: 100px;
     height: 100px;
}

.date {
     font-size: 10pt;
     color: #d1d1d1;
}

form {
  text-align: center;
}

h1 {
     font-size: 45pt;
     line-height: 0px;
}
p.a {
  word-spacing: 30px;
}
p.b {
  word-spacing: 30px;
  color: #808080;
}
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
